@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #00b4d8;
  --primary-color-dark: #0077b6;
  --secondary-color: #ffc300;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --on-primary: #ffff;
  --extra-light: #e5f5f8;
  --max-width: 1200px;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav_content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  display: flex;
  align-items: center;
}

nav .logo img {
  height: 2rem;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}

nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}

nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

#home {
  background-color: var(--extra-light);
}

#home .home_container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 6rem 1rem 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

#home .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home .subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

#home .title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

#home .title span {
  font-weight: 600;
}

#home .description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

#home .action_btns {
  display: flex;
  gap: 2rem;
}

#home .social_media_logo{
  width: 2rem;
  transition: transform 0.2s ease-in-out;
}

#home .social_media_logo:hover{
  transform: scale(1.2);
}

#home .image {
  display: grid;
  place-items: center;
}

#home .image img {
  width: min(25rem, 90%);
  border-radius: 100%;
  border: 10px solid var(--primary-color-dark)
}

#projects {
  background-color: var(--primary-color-dark);
  scroll-margin-top: 84px;
}

#projects .projects_container{
  min-height: calc(100vh - 84px);
  max-width: var(--max-width);
  margin: auto;
  padding: 3rem 1rem;
  gap: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#projects .title{
  color: var(--on-primary);
  text-decoration: underline;
  text-align: center;
  font-size: 2.5rem;
}

#projects .project_cards {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

#projects .row{
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#projects .project_card {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
}

#projects .project_card h1 {
  display: flex;  
  position: absolute;
  top: 0;
  width: 90%;
  height: 100%;
  align-items: center;
  justify-content: center;
  opacity: 0;
  color: white;
  transition: opacity 0.5s ease-in-out;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
}

#projects .project_card:hover h1 {
  opacity: 1;
}

#projects .project_card img {
  max-width: 20rem;
  width: 90%;
  border-radius: 10px;
  transition: filter 0.2s ease-in-out;
  border: solid white 2px;
}

#projects .project_card:hover img {
  filter: brightness(0.7)
}

#projects .more_projects{
  text-align: center;
  user-select: none;
}

#projects .more_projects a{
  text-decoration: underline;
  color: var(--on-primary);
}

footer {
  background-color: var(--extra-light);
}

footer .footer_container {
  max-width: var(--max-width);
  margin: auto;
  padding: 3rem 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}

footer .personal_info {
  display: flex;
  align-items: center;
}

footer .personal_info img {
  width: 4rem;
}

footer .personal_info p {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-color);
}

footer .contact_info {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 3rem;
}

footer img {
  width: 1.5rem;
}

footer .social_media_link {
  width: 3.5rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
}

footer .social_media_link:hover {
  transform: scale(1.2);
}

footer .github {
  background-color: #000000;
}

footer .linkedin {
  background-color: #0A66C2;
}

footer .instagram {
  background-color: #C13584;
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 84px);
    right: -100%;
    top: 84px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    z-index: -1;
    transition: right 0.5s ease-in-out
  }

  nav #check:checked ~ ul {
    right: 0px;
  }

  ul li a {
    font-size: 1.25rem;
  }

  #home .home_container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  #home .image {
    grid-area: 1/1/2/2;
  }

  #home .action_btns {
    margin: auto;
  }

  #projects .row{
    flex-direction: column;
    align-items: center;
  }

  footer .footer_container {
    grid-template-columns: 1fr;
  }

  footer .personal_info {
    justify-content: center;
  }

  footer .contact_info {
    justify-content: center;
    gap: 2rem;
  }
}